/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

  $main_color: #006F13;
  $sub_color: #006F13;
  $asort_color: #518653;

 body {
   width:100%;
   margin:0 auto;
 }


                                 /*ヘッダーのベース設定*/
 header {
 width:100%;
 background-color:white;
 position: sticky;
 top: 0;
 z-index:150;
 @media only screen and (max-width: 767px){
   img{
     width: 150px;
     z-index:100;
     height: auto;
   }
 }
 /* pc　768px以上 */
 @media only screen and (min-width: 768px), print {
   img{
     width: 250px;
     height: auto;
   }
 }
   .navi {
     background-color:$main_color;
     line-height:middle;
     height:40px;
     a {
       text-decoration: none;
       color:white;
       text-shadow: 1px 1px 1px #000;
       margin-top:auto;
       margin-top:8px;
       a:hover {
         background-color: rgba(255,255,255,0.1);
       }
     }

   }
     #dropmenu{
      list-style-type: none;
      width: 100%;
      height: 40px;
      margin: 0 auto;
      background: $main_color;
     }
     #dropmenu li{
      position: relative;
      width: 13.5%;
      float: left;
      text-align: center;
     }
     #dropmenu li a{
      display: block;
      margin: 0;
      padding: 10px 0px 15px;
      color: #fff;
      font-size: 100%;
      text-shadow: 1px 1px 1px #000;
      line-height: 1;
      text-decoration: none;
     }
     #dropmenu li ul{
      list-style: none;
      position: absolute;
      top: 100%;
      left: 0;
      margin: 0;
      padding: 0;
      border-radius: 0 0 3px 3px;
     }
     #dropmenu li:last-child ul{
      left: -100%;
      width: 100%
     }
     #dropmenu li ul li{
      overflow: hidden;
      width: 300%;
      height: 0;
      color: #fff;
      -moz-transition: .2s;
      -webkit-transition: .2s;
      -o-transition: .2s;
      -ms-transition: .2s;
      transition: .2s;
     }
     #dropmenu li ul li a{
      padding: 13px 15px;
      background: $main_color;
      text-align: left;
      font-size: 12px;
      font-weight: normal;
     }
     #dropmenu li:hover > a{
     background-color:$sub_color;
      color: #fff;
     }

     #dropmenu li:hover ul li{
      overflow: visible;
      height: 38px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
     }
     #dropmenu li:hover ul li:first-child{
      border-top: 0;
     }
     #dropmenu li:hover ul li:last-child{
      border-bottom: 0;
     }
     #dropmenu li:hover ul li:last-child a{
      border-radius: 0 0 3px 3px;
     }
 }
 main {
   margin-top:-80px;
 }



                                   /*  メイン画像  */
 .back-image-app {
   background-image: url('subbase.png');
   background-size: 100%;
   background-repeat: no-repeat;
   vertical-align: middle;
   padding-bottom:50px;
   margin-top:-22px;
 }
 .back-image {
   text-align:center;
     .box2 {
      padding: 1vw 4.5vw 0.3vw;
      display:inline-block;
      background:red;
            p {
            color: #FFF;/*文字色*/
            font-weight: bold;
            font-size:2.0vw;
              }
       }
       .face-1 {
           font-size:4.0vw;
           font-weight:bold;
           margin-top:30px;
           color:$asort_color;
           text-shadow: 2px 2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff, -2px -2px 2px #fff, 2px 2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff, -2px -2px 2px #fff;
       }
       .face-2 {
           font-size:3.6vw;
           font-weight:bold;
       }
       .face-3 {
           font-size:7.0vw;
           font-weight:bold;
           color:$asort_color;
           text-shadow: 2px 2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff, -2px -2px 2px #fff, 2px 2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff, -2px -2px 2px #fff;
       }
       .face-4 {
           font-size:2.0vw;
           font-weight:bold;
           text-shadow: 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff, -1px -1px 1px #fff, 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff, -1px -1px 1px #fff;
           line-height:4.0vw;
       }
       .face-price {
           font-size:3.0vw;
           font-weight:bold;
           color:orange;
           margin:-10px 0 -25px;
           margin-top:20px;
           margin-bottom:0px;
       }
       .face-conversion {
           font-size:3.0vw;
           font-weight:bold;
           color:red;
       }
  }



  .back-image-top {
    background-image: url('base3.png');
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    padding-bottom:50px;
    margin-top:-22px;
 }
  .back-image-index {
    text-align:center;
    .index-3 {
        font-size:3.2vw;
        font-weight:bold;
        line-height:6vw;
        color:$asort_color;
        text-shadow: 2px 2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff, -2px -2px 2px #fff, 2px 2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff, -2px -2px 2px #fff;
    }
    .title {
        font-size:4.5vw;
        font-weight:bold;
        line-height:6vw;
        color:red;
        text-shadow: 2px 2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff, -2px -2px 2px #fff, 2px 2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff, -2px -2px 2px #fff;
    }
    /*イエローライン*/
    .push {
        text-align:center;
        font-size:3.8vw;
        color:#F27200;
        font-weight:bold;
        width:100%;
        text-shadow: 3px 3px 3px #fff, -3px 3px 3px #fff, 3px -3px 3px #fff, -3px -3px 3px #fff, 3px 3px 3px #fff, -3px 3px 3px #fff, 3px -3px 3px #fff, -3px -3px 3px #fff;
    }
   }



 .information {
   margin-top:45px;
 }

     .box1 {
      padding: 1rem 4.5rem 0.3rem;
      display:inline-block;
      text-align:center;
      background: red;
            p {
            color: #FFF;/*文字色*/
            font-weight: bold;
            font-size:1.7vw;
              }
       }



 /*中央寄せ*/
 .center {
   text-align:center;
   margin:0 auto;
 }

 .push {
     text-align:center;
     font-size:6.0vw;
     margin:0px;
     color:orange;
     line-height:5.0vw;
     font-weight:bold;
     width:100%;
     text-shadow: 3px 3px 3px yellow, -3px 3px 3px #fff, 3px -3px 3px #fff, -3px -3px 3px #fff, 3px 3px 3px #fff, -3px 3px 3px #fff, 3px -3px 3px #fff, -3px -3px 3px #fff;
 }
 .under {
      background: linear-gradient(transparent 60%, #FFFF66 60%);
 }



 .surprise {
   font-size:5.5vw;
   color:white;
   font-weight:bold;
   background-color:$main_color;
   padding:35px;
 }

 .balloon-right {
   margin: 0 auto;
   padding: 7px 10px;
   width: 90%;
   color: #555;
   font-size: 1.5rem;
   background: #fff;
   border-radius: 15px;
   border: medium solid blue;
   padding:30px;
   }

   h2{
     color:blue;
     font-weight:bold;
   }


   .balloon {
     margin: 0 auto;
     padding: 7px 10px;
     max-width: 90%;
     color: #555;
     font-size: 1.5rem;
     background: #fff;
     border-radius: 15px;
     border: medium solid blue;
     padding:30px;

     }
     h2{
       color:blue;
       font-weight:bold;
     }

 p {
   margin: 0;
   padding: 0;
 }


   .three_column {
     color: #555;
     font-size: 16px;
     background: #fff;
     border-radius: 15px;
     border: medium solid blue;
     padding:30px;
     margin-left

 p {
   margin: 0;
   padding: 0;
 }
 }

 .review {
   font-weight:bold;
   margin-top:10px;
 }
 .price {
   color:red;
 }



 ul {
     padding: 0;
     width: 90%;
 }
 li {
     list-style-type: none;
 }
 dd {
     margin-left: 0;
 }

 .flow > li {
     position: relative;
 }
 .flow > li:not(:last-child) {
     margin-bottom: 40px;
 }
 .flow > li:not(:first-child)::before {
     content: "";
     height: 60px;
     display: block;
     border-left: 4px dotted $main_color;
     position: absolute;
     top: -40px;
     left: -webkit-calc(10% + 30px - 2px);
     left: calc(10% + 30px - 2px);
     z-index: 10;
 }
 .flow > li dl {
     width: 100%;
     padding: 20px 30px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     border: 2px solid $main_color;
     border-radius: 10px;
     position: relative;
 }
 .flow > li:not(:last-child) dl::before,
 .flow > li:not(:last-child) dl::after {
     content: "";
     border: solid transparent;
     position: absolute;
     top: 100%;
     left: 50%;
     -webkit-transform: translateX(-50%);
     transform: translateX(-50%);
 }
 .flow > li:not(:last-child) dl::before {
     border-width: 22px;
     border-top-color: $main_color;
 }
 .flow > li:not(:last-child) dl::after {
     border-width: 20px;
     border-top-color: #fff;
 }
 .flow > li dl dt {
     font-size: 20px;
     font-weight: 600;
     color: $main_color;
     -ms-flex-preferred-size: 20%;
     flex-basis: 25%;
     margin-right: 2vw;
     text-align: center;
 }
 .flow > li dl dt .icon {
     font-size: 12px;
     color: #fff;
     background: $asort_color;
     background: -moz-linear-gradient(left, $asort_color 0%, $main_color 100%);
     background: -webkit-linear-gradient(left, $asort_color 0%,$main_color 100%);
     background: linear-gradient(to right, $asort_color 0%,$main_color 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b90db', endColorstr='#66d5e9',GradientType=1 );
     padding: 5px 10px;
     margin-bottom: 10px;
     display: block;
     border-radius: 20px;
     position: relative;
     z-index: 9;
 }


                                             /*テーブルに関する情報*/
 /*テーブル共通*/
 table.company {
    width: 90%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 15px;
    font-size: 1.5vw;

    th, td { padding: 10px; }

    th {
       background: $main_color;
       vertical-align: middle;
       text-align: left;
       overflow: visible;
       position: relative;
       color: #fff;
       font-weight: bold;

       :after {
          left: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(136, 183, 213, 0);
          border-left-color: $main_color;
          border-width: 10px;
          margin-top: -10px;
          }
       }

    td {
       background: #f4f4f4;

       }
       .lp-small {
         font-size:12px;
       }
 }


 /* firefox */
 @-moz-document url-prefix() {
     table.company th::after {
        float: right;
        padding: 0;
        left: 30px;
        top: 10px;
        content: " ";
        height: 0;
        width: 0;
        position: relative;
        pointer-events: none;
        border: 10px solid transparent;
        border-left: $main_color 10px solid;
        margin-top: -10px;
        }
 }
   input {
     width:90%;
     border-radius:3px;
     box-shadow: none;
     padding: 2px 8px;
   }
   textarea {
     width:90%;
     line-height: 1.5em;
     border-radius:3px;
     box-shadow: none;
     padding: 2px 8px;
   }


 .price {
     color:red;
     font-size:2.5vw;
     font-weight:bold;
  }

  .name {width:45%;}
  .tel {width:29%;}
  .address {width:30%;}


 .tops-wrapper {
 	margin:50px 10px;
 	text-align:center;
 	font-weight:bold;

 	.headline {
 		padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
 		color: #494949;/*文字色*/
 		background: #f4f4f4;/*背景色*/
 		border-left: solid 5px $main_color;/*左線*/
 		border-bottom: solid 3px #d7d7d7;/*下線*/
 		text-align:left;
 		padding-left:30px;
 		margin:30px auto;
 		width:95%;
 		font-size:21px;
 		font-weight:bold;
 	    }
 	p {
 		line-height:2.5;
 		font-size:18px;
 		text-align:left;
 		margin:50px;
 	    }

 	bold {
 		font-weight:bold;
 	    }

 	span   {
         color: $main_color;
         font-size:45px;
         text-decoration: underline;
         font-weight:bold;
         }
 }
 /*hr*/
 .line {
     height:5px;
     background: $main_color;
     background-image: -webkit-linear-gradient(left, #eee, $main_color, #eee);
     background-image: -moz-linear-gradient(left, #eee, $main_color, #eee);
     background-image: -ms-linear-gradient(left, #eee, $main_color, #eee);
     background-image: -o-linear-gradient(left, #eee, $main_color, #eee);
     width:90%;
 }

 /*number parts big font*/
 .wide {
   font-size:3.5rem;
   color: #FCC100;
   text-shadow:2px 2px 2px #000;
 }
 /*bold*/
 .bold {
   font-weight:bold;
   font-size:3rem;
   color:black;
 }



 #dropmenu{
  list-style-type: none;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  background: $main_color;
 }
 #dropmenu li{
  position: relative;
  width: 16%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
 }
 #dropmenu li a{
  display: block;
  margin: 0;
  padding: 10px 0 15px;
  color: #fff;
  font-size: 100%;
  text-shadow: 1px 1px 1px #000;
  line-height: 1;
  text-decoration: none;
 }
 #dropmenu li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  border-radius: 0 0 3px 3px;
 }
 #dropmenu li:last-child ul{
  left: -100%;
  width: 100%
 }
 #dropmenu li ul li{
  overflow: hidden;
  width: 300%;
  height: 0;
  color: #fff;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
 }
 #dropmenu li ul li a{
  padding: 13px 15px;
  background: $main_color;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
 }
 #dropmenu li:hover > a{
 background-color:$sub_color;
  color: #fff;
 }

 #dropmenu li:hover ul li{
  overflow: visible;
  height: 38px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
 }
 #dropmenu li:hover ul li:first-child{
  border-top: 0;
 }
 #dropmenu li:hover ul li:last-child{
  border-bottom: 0;
 }
 #dropmenu li:hover ul li:last-child a{
  border-radius: 0 0 3px 3px;
 }


 .headline {
   padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
   color: #494949;/*文字色*/
   background: #f4f4f4;/*背景色*/
   border-left: solid 5px $main_color;/*左線*/
   border-bottom: solid 3px #d7d7d7;/*下線*/
   text-align:left;
   padding-left:30px;
   margin:30px auto;
 	width:95%;
 	font-size:21px;
 	font-weight:bold;
   }

 .both-set {
   margin:0 30px;
   font-size:12px;
   color:#666;
 }


 .top-wrapper {
   margin:0 40px -50px;
   text-align:left;
    .float-image{
      float:left;
      margin:0 20px 20px 0px;
    }
    p{
      font-size:16px;
      line-height:2.0;
    }
    strong{
      font-size: 3rem;
      color: $main_color;
      font-weight: bold;
      line-height: 5.5rem;
    }

 }




 /* 黒板風　タイトル　3 */
 .kokuban-t3 {
  position: relative;
  margin: 2em auto;
  padding: 3.2em 1em 1em;
  width: 90%; /* ボックス幅 */
  background-color: #044072; /* ボックス背景色 */
  color: #fff; /* 文章色 */
  border: 10px solid #b2771f; /* 枠線 */
  border-radius: 3px; /* 角の丸み */
  box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
 }
 .kokuban-t3::before,
 .kokuban-t3::after {
  position: absolute;
  content: '';
  bottom: 0;
 }
 .kokuban-t3::before {
  right: 10px;
  border: solid 3px #ffff6b; /*チョーク（黄色）*/
  width: 20px;
  border-radius: 3px 2px 0 2px;
 }
 .kokuban-t3::after {
  right: 40px;
  border: solid 3px #fff; /*チョーク（白）*/
  width: 15px;
  border-radius: 8px 5px 2px 5px;
 }
 .title-t3 {
  position: absolute;
  left: 1em;
  top: .5em;
  font-weight: bold;
  font-size: 1.1em;
  color: #ffff6b; /* タイトル色 */
 }




 /* ボックス */
 .mybox{
  border: 3px solid $main_color;	/* 線の太さ・種類・色 */
  border-radius: 8px;
  padding: 45px 10px 10px 10px;	/* 内側の余白 上・右・左・下 */
  position: relative;
  margin-bottom:40px;
 .title{
  background-color: $main_color;	/* タイトル部分背景色 */
  border-radius: 5px 5px 0px 0px;
  color: #fff;	/* タイトル部分文字色 */
  height: 25px;	/* タイトル部分高さ */
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
 }
 }



 .red {
   color: red;
 }

 .font-height {
   line-height:3.0vw;
   margin:0 30px;
 }

 .font-height-2 {
   font-size:0.5vw;
   margin:0 30px;
 }


 .label {
   background: red;
 }

 .label-blue {
   background: blue;
 }



 .heading {
   padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
   color: #494949;/*文字色*/
   background: #f4f4f4;/*背景色*/
   border-left: solid 5px $main_color;/*左線*/
   border-bottom: solid 3px #d7d7d7;/*下線*/
   font-size:20px;
   margin:0 5px;
   font-weight:bold;
 }


 ul.cp_list {
 	padding: 0.5em;
 	list-style-type: none;
 }
 ul.cp_list li {
 	position: relative;
 	padding: 0.5em 1em 0.5em 2.3em;
 	margin-bottom:5px;
 	border-bottom: 1px solid rgba(25,118,210,1);
 }
 ul.cp_list li:after,
 ul.cp_list li:before{
 	content:'';
 	position: absolute;
 	border-radius: 50%;
 }
 ul.cp_list li:before {
 	top: 50%;
 	left: 0.2em;
 	width: 17px;
 	height: 17px;
 	background: rgba(25,118,210, 1);
 	transform: translateY(-50%);
 }
 ul.cp_list li:after {
 	top: 1.1em;
 	left: 0.7em;
 	width: 14px;
 	height: 14px;
 	background: rgba(25,118,210, 0.5);
 }



 .main-wrapper {/*親div*/
   position: relative;/*相対配置*/
   }

 .main-wrapper .search2 {
   position: absolute;
   top: 50%;
   left: 50%;
   width:80%;
   line-height:5vw;
   margin-top:30px;
   -ms-transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
   margin:0;
   padding:0;
   /*文字の装飾は省略*/
   }

   .form-height {margin:10px;
                 height:42px;}
   .main-wrapper img {width: 100%;}

   .submit{
   	display:block;
   	width:100px;
   	height:42px;
   	color:#fff;
   	line-height:40px;
   	text-align:center;
   	background-color:$main_color;
   	border:1px solid #c66;
   }


 .store_index {
   line-height:3.3vw;
   font-size:18px;
   a {
     text-decoration: none;
     color:black;
   }
   .store {
     font-weight:bold;
     font-size:24px;
   }
   .genre {margin:5px;}
 }

  /*hr*/
  .line {
      height:1px;
      background: $main_color;
      background-image: -webkit-linear-gradient(left, #eee, $main_color, #eee);
      background-image: -moz-linear-gradient(left, #eee, $main_color, #eee);
      background-image: -ms-linear-gradient(left, #eee, $main_color, #eee);
      background-image: -o-linear-gradient(left, #eee, $main_color, #eee);
      width:90%;
  }



  /*  Top Wrapper  */
 .top-wrapper {
   padding-bottom: 70px;
   position:relative;
     /*タイトル*/
     .heading {
       text-align:center;
       color: #666;
     }
     h2.head {
       position: relative;
       background:$main_color;
       line-height: 1.4;
       padding: 0.25em 0.5em;
       margin: 2em 0 0.5em;
       border-radius: 0 5px 5px 5px;
       color:white;
       font-weight:bold;
       font-size:18px;
     }

     h2.head:after {
       /*タブ*/
       position: absolute;
       font-family: "Font Awesome 5 Free",'Quicksand','Avenir','Arial',sans-serif;
       content: '\f00c Check';
       background: $asort_color;
       color: #fff;
       left: 0px;
       bottom: 100%;
       border-radius: 5px 5px 0 0;
       padding: 3px 7px 1px;
       font-size: 0.7em;
       line-height: 1;
       letter-spacing: 0.05em
     }


   .box {
       padding: 0.5em 1em;
       margin: 2em 0;
       font-weight: bold;
       color: #6091d3;/*文字色*/
       background: #FFF;
       border: solid 3px #6091d3;/*線*/
       border-radius: 10px;/*角の丸み*/
   }
   .box p {
       margin: 0;
       padding: 0;
   }

   .high {
     margin-top:30px;
   }

   .text {
     padding-top:8px;
     font-size:20px;
     font-weight:bold;
     color:#666;
   }
 }

 .harf {
   width:50%;
 }



 nav.globalMenuSp {
     position: fixed;
     z-index: 2;
     top: 0;
     left: 0;
     background: $main_color;
     color: #fff;
     text-shadow: 1px 1px 1px #000;
     text-align: center;
     transform: translateY(-100%);
     transition: all 0.6s;
     width: 100%;
 }

 nav.globalMenuSp ul {
     background: $main_color;
     margin: 0 auto;
     padding: 0;
     width: 100%;
 }

 nav.globalMenuSp ul li {
     font-size: 1.0em;
     list-style-type: none;
     padding: 0;
     width: 100%;
     border-bottom: 1px dotted #fff;
 }

 /* 最後はラインを描かない */
 nav.globalMenuSp ul li:last-child {
     padding-bottom: 0;
     border-bottom: none;
 }

 nav.globalMenuSp ul li a {
     display: block;
     color: #fff;
     line-height:3em;
 }

 /* このクラスを、jQueryで付与・削除する */
 nav.globalMenuSp.active {
     transform: translateY(0%);
 }


 .navToggle {
     display: block;
     position: fixed;    /* bodyに対しての絶対位置指定 */
     right: 13px;
     top: 12px;
     width: 42px;
     height: 51px;
     cursor: pointer;
     z-index: 3;
     background: $sub_color;
     text-align: center;
 }

 .navToggle span {
     display: block;
     position: absolute;    /* .navToggleに対して */
     width: 30px;
     border-bottom: solid 3px #eee;
     -webkit-transition: .35s ease-in-out;
     -moz-transition: .35s ease-in-out;
     transition: .35s ease-in-out;
     left: 6px;
 }

 .navToggle span:nth-child(1) {
     top: 9px;
 }

 .navToggle span:nth-child(2) {
     top: 18px;
 }

 .navToggle span:nth-child(3) {
     top: 27px;
 }

 .navToggle span:nth-child(4) {
     border: none;
     color: #eee;
     font-size: 9px;
     font-weight: bold;
     top: 34px;
 }

 /* 最初のspanをマイナス45度に */
 .navToggle.active span:nth-child(1) {
     top: 18px;
     left: 6px;
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     transform: rotate(-45deg);
 }

 /* 2番目と3番目のspanを45度に */
 .navToggle.active span:nth-child(2),
 .navToggle.active span:nth-child(3) {
     top: 18px;
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     transform: rotate(45deg);
 }



 .cp_qa *, .cp_qa *:after, .cp_qa *:before {
 	-webkit-box-sizing: border-box;
 	        box-sizing: border-box;
 }
 .cp_qa .cp_actab {
 	position: relative;
   padding-left:15%;
 	overflow: hidden;
 	width: 90%;
 	margin: 0 0 1em 0;
 	color: $main_color;
 }
 .cp_qa .cp_actab input {
 	position: absolute;
 	opacity: 0;
 }
 /* 質問 */
 .cp_qa .cp_actab label {
 	font-weight: bold;
 	line-height: 1.6em;
 	position: relative;
 	display: block;
 	margin: 0 0 0 0;
 	padding: 1em 2em 1em 2.5em;
 	cursor: pointer;
 	text-indent: 1em;
 	border-radius: 0.5em;
 	background: rgba(27,37,56,0.1);
 }
 .cp_qa .cp_actab label::before {
 	font-family: serif;
 	font-size: 1.5em;
 	margin-left: -2em;
 	padding-right: 0.5em;
 	content: 'Q';
 }
 .cp_qa .cp_actab label:hover {
 	transition: all 0.3s;
 	color: #00838f;
 }
 /* --質問の＋アイコン */
 .cp_qa .cp_actab label::after {
 	font-size: 1.7em;
 	font-weight: bold;
 	line-height: 2em;
 	position: absolute;
 	top: 0;
 	right: 0;
 	content: 'b';
 	display: inline-block;
 	width: 2em;
 	height: 2em;
 	-webkit-transition: transform 0.4s;
 	        transition: transform 0.4s;
 }
 /* 答え */
 .cp_qa .cp_actab .cp_actab-content {
 	position: relative;
 	overflow: hidden;
 	max-height: 0;
 	padding: 0 0 0 2.5em;
 	-webkit-transition: max-height 0.2s;
 	        transition: max-height 0.2s;
 	border-radius: 0 0 0.5em 0.5em;
 }
 .cp_qa .cp_actab .cp_actab-content::before {
 	font-family: serif;
 	font-size: 1.5em;
 	position: absolute;
 	margin: 0.4em 0 0 -1em;
 	padding: 0;
 }
 .cp_qa .cp_actab .cp_actab-content p {
 	margin: 1em 1em 1em 0;
 }
 /* 質問を開いた時の仕様 */
 /* --答えの高さ */
 .cp_qa .cp_actab input:checked ~ .cp_actab-content {
 	max-height: 40em;
 	border: 10px solid rgba(27,37,56,0.1);
 }
 /* 質問をクリックした時のアイコンの動き */
 .cp_qa .cp_actab input:checked ~ label {
 	color: #00838f;
 	border-radius: 0.5em 0.5em 0 0;
 }
 /* 質問をクリックした時の+の動き */
 .cp_qa .cp_actab input[type=checkbox]:checked + label::after {
 	-webkit-transform: rotateZ(45deg);
 	transform: rotateZ(45deg);
 	-webkit-transform-origin: 50% 50%;
 	transform-origin: 50% 50%;
 }



 .problem {
   margin:10px;
   font-size:16px;
 }


 /*flow*/
 .cp_stepflow03 {
 	font-size: 1000%;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	margin: 0 0 0em;
 	padding-left: 100px ;
 }
 .cp_stepflow03 > li {
 	position: relative;
 	display: block;
 	width: auto;
 	margin: 0 ;
 	padding: 0;
 	list-style: none;
 	text-overflow: ellipsis;
 	color: $main-color;
 	 -ms-flex: 1;
 	-moz-flex: 1;
 	-webkit-box-flex: 1;
 	     flex: 1;
 }
 .cp_stepflow03 > li .title {
 	font-weight: bold;
 }
 .cp_stepflow03 > li .text {
 	display: block;
 }
 .cp_stepflow03 > li .bubble {
 	display: block;
 	width: 20px;
 	height: 20px;
 	margin: 0 auto;
 	border-radius: 1000px;
 	background-color: $main-color;
 }
 .cp_stepflow03 > li .bubble::after,
 .cp_stepflow03 > li .bubble::before {
 	position: absolute;
 	top: 9px;
 	display: block;
 	width: 100%;
 	height: 3px;
 	content: '';
 	background-color: $main-color;
 }
 .cp_stepflow03 > li.completed,
 .cp_stepflow03 > li.completed .bubble {
 	color: $main-color;
 }
 .cp_stepflow03 > li.completed .bubble,
 .cp_stepflow03 > li.completed .bubble::after,
 .cp_stepflow03 > li.completed .bubble::before {
 	background-color: $main-color;
 }
 .cp_stepflow03 > li:last-child .bubble::after,
 .cp_stepflow03 > li:last-child .bubble::before {
 	width: 0%;
 	margin-right: 50%;
 }
 .cp_stepflow03 > li.active,
 .cp_stepflow03 > li.active .bubble {
 	color: $main-color;
 }
 .cp_stepflow03 > li.active .bubble,
 .cp_stepflow03 > li.active .bubble::after,
 .cp_stepflow03 > li.active .bubble::before {
 	background-color: $main-color;
 }


 .beige-wrapper {
   margin:50px 10px;
 	font-weight:bold;
 }

 .user_show_container {
   margin: 20px 60px;
 }

 .lists_index {
   font-size:16px;
   padding:0 80px;
   a {
     text-decoration: none;
     color:black;
   }
 }

 .white {
   color: white;
   font-size:15px;
   font-weight:bold;
 }

 /*約款*/
 .infobox {
   margin-left: auto;
   margin-right: auto;
   height: 10em;
   /* 高さを制限(※) */
   width: 800px;
   overflow: scroll;
   /* スクロールバーを表示(※) */
   border: #2CA676 3px border;
   color:black;
   font-weight:normal;
   /* 枠線を追加 */
   background-color: #fff;
   padding: 10px;
   border: medium solid #888;
 }


 .user_show_container {
   margin: 20px 60px;
 }

 .confirm_point_container {
   max-width: 1024px;
   margin: 0 auto;
   margin-top: 30px;
 }
