meta[charset="uft-8"]
meta[http-equiv="X^UA-Compatible" content="IE=edge"]
meta[name="viewport" content="width=device-width, initial-scale=1,0, initial-scale=1, shrink-to-fit=no"]
script[async src="https://www.googletagmanager.com/gtag/js?id=AW-585627916"]
script
  |  window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-585627916');
= csrf_meta_tags
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag rel="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
script[src="https://ajax.googleapis.com/js/jquery-3.3.1/slim.min.js"]
script[src="https://ajax.googleapis.com/js/bootstrap.bundle.min.js"]
script[src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"]

link[href="node_modules/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css"]
script[type="text/javascript" src="node_modules/froala-editor/js/froala_editor.pkgd.min.js"]
link[href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css"]
script[type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"]
link[href="../css/froala_style.min.css" rel="stylesheet" type="text/css"]

= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
= display_meta_tags(default_meta_tags)
= favicon_link_tag('favicon.ico')
javascript:
  | fbq('track', 'ViewContent');
script[async src="https://www.googletagmanager.com/gtag/js?id=AW-10998015402"]
script
 | window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-10998015402');

/! Google Tag Manager
javascript:
  | (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  | new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  | j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  | 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  | })(window,document,'script','dataLayer','GTM-TVV7GHQ');
/! End Google Tag Manager

script[async src="https://www.googletagmanager.com/gtag/js?id=G-RLYCLP8415"]
script
  | window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-RLYCLP8415');
